.carousel {
  background: #f3f3f3;
  height: auto;
}

/* move page dots into carousel */
.flickity-page-dots { bottom: 15px!important; }

.flickity-page-dots .dot {
    background: #000!important;
    border-radius: 0%;
    width: 20px;
    height: 4px;
    opacity: .5;
    cursor: pointer;
}

/* smaller, dark, rounded square */
.flickity-button {
  background: #333;
}
.flickity-button:hover {
  background: #000;
}

.flickity-prev-next-button {
  width: 40px;
  height: 40px;
  border-radius: 0px;
  	background-color: #333;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: .2;
    -webkit-transition: opacity .2s ease-out;
    -o-transition: opacity .2s ease-out;
    transition: opacity .2s ease-out;
}
/* icon color */
.flickity-button-icon {
  fill: white;
}
/* position outside */
.flickity-prev-next-button.previous {
  left: 0px;
}
.flickity-prev-next-button.next {
  right: 0px;
}
