/* Show it is fixed to the top */
body {

}

/*Nopadding*/
.nopadding {
    padding-left: 0!important;
    margin-bottom: .5rem !important;
}

/*Nopadding2*/
.nopadding2 {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-bottom: .5rem !important;
}

/*Nopadding2*/
.nopadding3 {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-bottom: 0rem !important;
}


@media (max-width: 767.98px) {
 
    .hide-on-mobile{display: none;}
    .grid-container--fit {
    /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
        grid-template-columns: auto auto;
    }
    
}

.bg-orange{
	background: #ffbf01;
}

.nav-link {
	color: #000;
}

/* Disable WhatsApp button on Desktop - Tutorial link: http://crunchify.me/1VIxAsz */
@media screen and (min-width: 767px) {
    .crunchify-whatsapp {
        display: none !important;
    }
    
    .pencarian{display: none;}
    .hide-on-tab{display: none;}

    .grid-container--fit {
    /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
        grid-template-columns: auto auto auto auto auto auto;
    }
}

.border-bottom {
    border-bottom: 1px solid #fff!important;
}

/*CARD*/

.card {
    border: 0px solid rgba(0,0,0,.125);
    border-radius: 0rem;
}

.garis-hov:hover{border: 1px solid rgba(0,0,0,0.25);}

.card-body {
    flex: 1 1 auto;
    padding: .7rem;
    line-height: 1.2rem;
    font-size: .9rem;
    background-color: #fff;
}

.card-body h2,h3 {
    font-size: 1.2rem;
}

.card-img-top {
    width: 100%;
}

.card-text{ font-size: 13px; margin: 0px; height: 60px;}
.card-text-harga{margin: 0px; font-size: 14px; }
.link-produk {text-decoration: none;}
.img-produk:hover{}

.card-footer {
    padding: .2rem .5rem;
    background-color: #fff;
    border-top: 1px solid rgba(0,0,0,.125);
}

.card-footer:last-child {
    border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
}


/**/

/**/
.cat__menu {
    width: 230px;
    height: 100%;
    background: rgba(0,0,0,.7);
   	position: absolute;
    font-size: 15px;
    z-index: 99;
}


/*thubnails produk*/
.grid-container {
  display: grid;
  /*grid-template-columns: auto auto auto;*/
  /*background-color: #ddd;*/
  background-color: #fff;
  padding: 0px;
}



.grid-item {
  background-color: #fff;
  /*-border: 1px solid rgba(0, 0, 0, 0.8);*/
  border: 1px solid #cbcbcb;
  padding: 5px;
  margin: 5px;
  font-size: 30px;
  text-align: center;
}
.grid-item:hover {
  border: 1px solid #a7a7a8;
}

.grid-item img{
  max-width: 100%;
}